@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

#label {
  position: relative;
}
#inputNome {
  position: relative;
  border: none;
  appearance: none;
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  outline: none;
}
#inputNome:focus::placeholder {
  color: transparent;
}

#label #nome {
  position: absolute;
  left: 10px;
  top: calc(50% + 12px);
  transform: translateY(-100%);
  color: #aaa;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

#inputNome:valid + #nome,
#inputNome:focus + #nome {
  top: 1px;
  font-size: 15px;
  color: #222;
}
#pontuacao {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

#dvX {
  height: 5px;
  width: 5px;
  background: red;
}
#dvX::after {
  background: red;
}
#dvX::before {
  background: red;
}
