@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

#label {
  position: relative;
}
#inputNome {
  position: relative;
  border: none;
  appearance: none;
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  outline: none;
}
#inputNome:focus::placeholder {
  color: transparent;
}

#label #nome {
  position: absolute;
  left: 10px;
  top: calc(50% + 12px);
  transform: translateY(-100%);
  color: #aaa;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

#inputNome:valid + #nome,
#inputNome:focus + #nome {
  top: 1px;
  font-size: 15px;
  color: #222;
}
#pontuacao {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

#barRow1 {
  width: 0.9%;
  height: 47.6%;
  top: 27%;
  left: 45%;
  position: absolute;
  background-color: white;
}
#barRow2 {
  width: 0.9%;
  height: 47.6%;
  right: 45%;
  top: 27%;
  position: absolute;
  margin-left: 8%;
  background-color: white;
}
#barCol1 {
  width: 25%;
  height: 1.8%;
  top: 42%;
  position: absolute;
  background-color: white;
}
#barCol2 {
  width: 25%;
  height: 1.8%;
  top: 58%;
  position: absolute;
  background-color: white;
}
#grid1 {
  width: 7.5%;
  height: 15%;
  position: absolute;
  left: 37.4%;
  top: 27%;
  z-index: 100;
  background-color: ;
  cursor: pointer;
}

#grid2 {
  width: 8.1%;
  height: 15%;
  position: absolute;
  left: 50;
  top: 27%;
  z-index: 100;
  background-color: ;
  cursor: pointer;
}

#grid3 {
  width: 7.5%;
  height: 15%;
  position: absolute;
  left: 55%;
  top: 27%;
  z-index: 100;
  background-color: ;
  cursor: pointer;
}
#grid4 {
  width: 7.5%;
  height: 14.8%;
  position: absolute;
  left: 37.4%;
  top: 43.5%;
  z-index: 100;
  background-color: ;
  cursor: pointer;
}
#grid5 {
  width: 8.1%;
  height: 14.8%;
  position: absolute;
  left: 50;
  top: 43.5%;
  z-index: 100;
  background-color: ;
  cursor: pointer;
}
#grid6 {
  width: 7.5%;
  height: 14.8%;
  position: absolute;
  left: 55%;
  top: 43.5%;
  z-index: 100;
  background-color: ;
  cursor: pointer;
}
#grid7 {
  width: 7.5%;
  height: 15%;
  position: absolute;
  left: 37.6%;
  top: 59.5%;
  z-index: 100;
  background-color: ;
  cursor: pointer;
}

#grid8 {
  width: 8.1%;
  height: 15%;
  position: absolute;
  left: 46%;
  top: 59.5%;
  z-index: 100;
  background-color: ;
  cursor: pointer;
}
#grid9 {
  width: 7.5%;
  height: 15%;
  position: absolute;
  left: 55%;
  top: 59.5%;
  z-index: 100;
  background-color: ;
  cursor: pointer;
}
#dvX {
  height: 5px;
  width: 5px;
  background: red;
}
#dvX::after {
  background: red;
}
#dvX::before {
  background: red;
}
